{% extends "base.html" %}

{% block content %}
<main>
    <div>
        <h1>{{get_details.name}}</h1>
        <p><a href="{% url "todo_list_update" get_details.id %}">Edit</a></p>
        <p><a href="{% url "todo_list_delete" get_details.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in get_details.items.all %}
                <tr>
                    <td>{{detail.task}}</td>
                    <td>{{detail.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
